.chapter-root {
    display: flex;
    flex-flow: column wrap;
}

.index-chapter {
    display: inline-block;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #331A33;
    max-width: 720px;
}

.chapter-left {
    max-width: 320px;
    padding: 1rem;
}

.chapter-right {
    max-width: 320px;
    padding: 1rem;
}

.chapter-label {
    font-size: 2rem;
    display: flex;
    justify-self: center;
}

.chapter-description {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
}