:root {
    --color-bg: #221122;
    --color-main: rgb(255, 255, 255);

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    color: var(--color-main);
    background: var(--color-bg);
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.column-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.column-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lyrics-container {
    position: absolute;
    margin-top: 2rem;
    gap: 4rem;
    padding: 4rem;
}