:root {
    --color-bg: #221122;
    --color-main: rgb(255, 255, 255);

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    color: var(--color-main);
    background: var(--color-bg);
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.column-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.column-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lyrics-container {
    position: absolute;
    pointer-events: none;
    font-weight: 800;
    margin-top: 2rem;
    gap: 0rem;
    padding: 0rem;
    height:160px;
    width:320px;
    background-color: #110911;
}

.widther {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    font-weight: 800;
    white-space: nowrap;
}