.phrase {
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #331933;
}

.util-container {
    margin: 1rem;
}

.phrase-config {
    display: inline-block;
    margin-left: 4px;
    width: 70px;
}

/* .phrase-input {
} */